<link rel="stylesheet" href="/css/form.css" />

<%- include("../template/header"); -%>
<div class="main-form">
  <center>
    <div class="floating-form">
      <span class="lar la-check-circle my-btn-suc"></span>
      <h2>Yes, you are a success!</h2>

      <a href="/">
        <button type="submit" class="my-btn">
          Go to Home<span class="las la-home my-icon"></span></button
      ></a>
    </div>
  </center>
</div>

<%- include("../template/footer"); -%>
